AWS_ENVIRONMENT=development
AWS_ACCESS_KEY_ID=AKIAJSSSSSXXXXXXJJJ
AWS_SECRET_ACCESS_KEY=e4Ky0jGwEHh9AFN6hZt9waJPCNutSNM1AWqBUv/7
AWS_SESSION_TOKEN=
AWS_ROLE=arn:aws:iam::169733619424:role/lambda_basic_execution
AWS_REGION=us-east-1
AWS_FUNCTION_NAME=openhab
AWS_HANDLER=index.handler
AWS_MEMORY_SIZE=512
AWS_TIMEOUT=15
AWS_DESCRIPTION=openHAB Alexa Smart Home Skill  (development)
AWS_RUNTIME=nodejs4.3
AWS_VPC_SUBNETS=
AWS_VPC_SECURITY_GROUPS=
EXCLUDE_GLOBS="event.json"
PACKAGE_DIRECTORY=build
