name: Localization

on:
  push:
    branches: [ main ]
    paths: [ 'resources/locales/**' ]

permissions:
  contents: read

jobs:
  update:
    name: Locale Updates
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x

    - name: Update skill locale
      run: node .github/scripts/updateSkillLocale.js

    - name: Check for changes to commit
      id: changes
      run: test -n "$(git status -suno)"
      continue-on-error: true

    - name: Commit and push changes
      if: steps.changes.outcome == 'success'
      run: |
        git config user.name openhab-bot
        git config user.email bot@openhab.org
        git commit -a -m "New locale updates"
        git push
